body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;

}


.debug{
  background-color: blueviolet;
  border: peru 1px solid;


}

ul{list-style: none;}


nav{height: 70px;}


aside {
  padding-top: 100px;
  padding-bottom: 40px;
  
  

}

aside a{color: white;}


section{
  
  padding-top: 70px;
  overflow-y: scroll;

}

#res{
  height: 45px;
  width:45px;
 

}


#darkblue{background-color: #165bba !important;}


#titlebar{background-color: #f7f7f7;}



td:first-child {width: 60% ;}

td{width: 10% ;}


.minitext{font-size: 0.7rem ;}

nav form, input {
  
  background-color: #e5e5e5 !important

}

aside{
  
  width: 150px;
  height:100%;
  background-image: url("../assets/img/sidebar-bg.png");
  background-color: #051e34;
}

@media screen and (max-width:992px) {

  
  aside {width: 68px;}

  
  
}
